.why{


	h1{
		font-weight:300;
		font-family: 'Quicksand', sans-serif;


	}

	p{
    font-size:20px;
        color: #797676;
    font-family:Helvetica;
    line-height:180%;
   font-family: 'Quicksand', sans-serif;
    }
}











#about{
	

	}
.col-md-6{
	margin-top:50px;
	      text-align:-webkit-center;
	      
	      

       h1{
          
          font-family: 'Quicksand', sans-serif;
	      font-weight:300!important;
	      letter-spacing:0.5px;


         }

	  p{
	      font-size: 16px;
	     font-family: 'Quicksand', sans-serif;
          font-weight: 300;
          line-height: 26px;
          color: #797676;
          letter-spacing:1px;
	    }
	}
